html, body, #app {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.gutter {
  background-color: #eee;
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-horizontal:hover {
  background-color: #ccc;
}

.editor-container {
  height: 100%;
  display: flex;
}

.preview * {
  pointer-events: none;
}

.gu-unselectable .instance-container {
  outline: 1px dashed blue;
  pointer-events: auto;
}
.gu-unselectable .instance-container.dragover {
  outline: 2px solid blue;
}
.gu-mirror .instance-container, .gu-transit .instance-container {
  outline: none !important;
}
.instance, tr.instance > * {
  cursor: move;
  pointer-events: auto;
}
.instance.hover {
  outline: 2px solid #ebe;
}
.instance.active {
  outline: 4px solid #ebe;
}
.instance[contenteditable='true'] {
  cursor: text;
  box-shadow: 0 0 22px -2px #555;
}

#app > iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

#app > pre {
  margin: 0;
  height: 100%;
}

.instance-controls {
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.instance-controls .fa {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.instance-controls .fa:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
