body * {
  pointer-events: none;
}

.instance, tr.instance > * {
  cursor: move;
  pointer-events: auto;
}
.instance.hover {
  outline: 2px solid #ebe;
}
.instance.active {
  outline: 4px solid #ebe;
}
.instance[contenteditable='true'] {
  cursor: text;
  box-shadow: 0 0 22px -2px #555;
}

.dg-dragging .instance-container {
  outline: 2px dashed #aaa;
  outline-offset: -2px;
}
.dg-dragover {
  outline: 2px solid blue !important;
  outline-offset: -2px;
}
.dg-dragged .instance-container, .dg-shadow .instance-container {
  border: none !important;
}
.dg-dragged {
  opacity: 0.5;
}
