html, body, #app, #editor, .editor-container, .preview {
  height: 100%;
}

#app > iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

#app > pre {
  margin: 0;
  height: 100%;
}

#editor {
  display: flex;
  flex-flow: column nowrap;
}

.navbar {
  z-index: 1000;
  margin-bottom: 0;
}
.navbar a {
  cursor: pointer;
  user-select: none;
}
.navbar .toggle.btn {
  top: -1px;
}
.precompile-btn * {
  pointer-events: none !important;
}
.precompile-btn > .toggle.btn {
  width: 86px;
}
.navbar .undo-btn.disabled, .navbar .redo-btn.disabled {
  color: #ddd;
  pointer-events: none;
}

.gutter {
  background-color: #ddd;
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-horizontal:hover {
  background-color: #ccc;
}

.editor-container {
  display: flex;
}

.module-view {
  height: 100%;
  overflow: auto;
}
.module-view .module-groups {
  position: sticky;
  top: 0;
  z-index: 1;
}
.module-view .module-search {
  position: sticky;
  top: 34px;
  z-index: 1;
}
.module-view .list-group-item {
  cursor: move;
}
.module-view iframe {
  width: 100%;
  border: 1px solid #eee;
  pointer-events: none;
}

.preview-container {
  position: relative;
  height: 100%;
}
.preview {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
}
.empty-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 4px dashed #eee;
  outline-offset: -4px;
}
.empty-container.dg-dragover {
  outline: 4px dashed #aaa;
  outline-offset: -4px;
}
.empty-container.dg-invalid {
  outline: 4px solid #f88;
  outline-offset: -4px;
}
.empty-container::before {
  content: 'Drag a module here';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
}
.empty-container.dg-dragover::before {
  color: #ccc;
}

.json-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  flex-flow: column nowrap;
}
.json-view .btn-group {
  position: absolute;
  top: 3px;
  right: 4px;
}
.json-view .panel-body {
  flex-grow: 1;
  position: relative;
  padding: 0;
}
#content-json {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.instance-controls {
  position: fixed;
  top: 100px;
  left: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.instance-controls .fa {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.instance-controls .fa:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.property-view {
  display: flex;
  flex-flow: column nowrap;
}
.property-view .list-group {
  flex-grow: 1;
  overflow: auto;
}
.property-view .module-name .btn-group {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.property-view .btn-toolbar .btn-default:not(:hover) {
  border-color: transparent;
}
.property-view .list-group .list-group-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-right: 4px;
  overflow: hidden;
}
.property-view .list-group .list-group-item .name {
  padding-top: 6px;
  white-space: nowrap;
  overflow: hidden;
}
.property-view .list-group .list-group-item .language-info {
  color: #aaa;
}
.property-view .list-group .list-group-item .property-controls {
  white-space: nowrap;
}
.property-view .list-group .list-group-item .property-controls > * {
  display: inline-block;
}
.property-view .list-group .list-group-item input {
  width: unset;
  max-width: 120px;
}
.property-view .list-group .list-group-item .prop-buttons > * {
  cursor: pointer;
  padding: 4px;
}
.property-view .list-group .list-group-item .prop-buttons > *:hover {
  opacity: 0.8;
}
.property-view .text-editor-btn {
  cursor: pointer;
}
.property-view .text-editor-btn:hover {
  opacity: 0.8;
}
.property-view__instance-id {
  padding-right: 8px;
}
.property-view__item--has-warning {
  background-color: #ffeedd;
}

.instance-map {
  width: 300px;
}
.instance-map__instance {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}
.instance-map__instance--has-warning {
  background-color: #ffeedd;
}
.instance-map__instance--has-module-warning {
  background-color: #ff5544;
}
.instance-map__container__name {
  margin-top: 4px;
  color: #aaa;
}

.ui-dialog {
  padding: 19px 20px 9px 20px;
}

.dg-dragging .module-view iframe {
  pointer-events: none;
}
.dg-shadow {
  position: fixed !important;
  pointer-events: none !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  border: 1px solid blue;
}

.module-name {
  color: #888;
}

.popover {
  max-width: 100%;
}
.popover .lock-btn {
  position: absolute;
  top: 9px;
  right: 12px;
  cursor: pointer;
}
.popover .lock-btn.lock-btn--disabled {
  color: rgba(0, 0, 0, 0.2);
}

.modal {
  z-index: 2000;
}

#text-editor-modal__text-editor {
  position: relative;
  height: 300px;
}

.inactive {
  color: #ccc !important;
}

.json-view .json-save-btn.disabled {
  pointer-events: none;
}

.discard-list tr td {
  padding: 4px 8px;
}
.discard-list tr td:first-child {
  color: #aaa;
}
.discard-list__current {
  background-color: #eee;
}
.language-list .fa-check {
  color: #4c4;
}
.language-list .fa-exclamation-triangle {
  color: #f74;
}